<h1 mat-dialog-title>Please Enter Your Git Credentials</h1>
<div mat-dialog-content>
    <form [formGroup]="uiForm">
        <mat-form-field>
            <mat-label>User Name *</mat-label>
            <input matInput formControlName="username" id="username">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password *</mat-label>
            <input matInput type="password" formControlName="password" id="password">
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions style="justify-content: flex-end;">
    <button mat-mini-fab title="Cancel" color="basic" mat-dialog-close>
        <mat-icon>close</mat-icon>
    </button>
    <button mat-mini-fab cdkFocusInitial title="Ok" color="primary" [mat-dialog-close]="uiForm.value"
        [disabled]="!uiForm.valid">
        <mat-icon>done</mat-icon>
    </button>
</div>
